a {
  text-decoration: none; /* Remove underline */
  color: white;
  transition: transform 0.3s, color 0.3s; /* Smooth transition for transform and color */
}
a:hover {
  text-decoration: none; /* Ensure no underline on hover */
  color: orange; /* Change text color to white */
}
a:active {
  text-decoration: none; /* Ensure no underline on hover */
  color: orange; /* Change text color to white */
}
.navbar-links {
  margin: 10px;
}

.navbar-container {
  padding: 10px;
  height: 30px;
  font-size: 20px;
  background-image: linear-gradient(black, gray);
  margin-bottom: 20px;
}
